body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
    background-position:left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow-x: hidden;
    height :100vh;
}
div p{
  font-size: 200%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #E3E3E3;
  margin-top: 10px;
  max-width: 500px;
}

.subTopic {
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background-color: #09C;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	float: none;
	overflow: visible;
	padding-bottom: 3px;
	width: 190px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
  font-size: 200%;
}

.hori_table_frame {
  width: 500px;
  border-top:1px dashed #CCC;
	color: #333;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 150%;
}
.hori_table_frame tr td {
	background-color: rgba(255, 255, 255, 0.7);
	padding-left: 10px;
  border-bottom:1px dashed #CCC;
}
.hori_table_frame tr td:first-child{
  height: 30px;
  width: 40%;
  padding-left: 10px;
	background-color: rgba(225, 231, 232, 0.7);
  border-right:1px solid #CCC;
  border-bottom:1px dashed #CCC;
	color: #000;
}
